
<!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> User Trail Info
          <button class="btn btn-sm btn-default pull-right" 
            popover="This panel shows how the user has traversed the system and the actions he has taken. You can search info via the searching 
            username or date." 
             placement="bottom" triggers="focus"
          ><i class="fa fa-question"></i> help</button>
        </div>
        
        <div class="card-block">

            <nav>
            <ul class="pagination">
              <input type="text" class="form-control" id="search" placeholder="Search User" />
            </ul>
          </nav>

          <table class="table table-hover table-sm table-outline mb-0">
            <thead class="thead-default">
              <tr>
                <th class="text-center"><i class="icon-people"></i> Username</th>
                <th class="text-center hidden-sm-down">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  Alex Kiburu
                </td>
                <td class="text-center hidden-sm-down">
                  Logged in at 12:23pm on 12/2/2017
                </td>       
              </tr>

              <tr>
                <td class="text-center">
                  Kames king'ori
                </td>
                <td class="text-center hidden-sm-down">
                 Accessed the user module at 12:00am on 12/23/2012
                </td>       
              </tr>

            </tbody>
          </table>

          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->